html {
  font-family: "Atkinson Hyperlegible Soft", sans-serif;
  font-size: 13pt;
}
pre, code {
  font-size: 11pt;
}

h1, h2, h3 {
  font-family: "Averia Serif Libre", sans-serif;
  font-weight: 300;
}

.site-title {
  font-size: 35pt;
  font-weight: 600;
}

:root {
  --light: #fff8f0;
  --dark: #0a0a0a;
  /* --light: #eae5e0; */
  /* --dark: #262626; */

}

@media (prefers-color-scheme: light) {
  html {
    background-color: #fff5ea;
  }
  .site-title {
    color: #6a3f3f;
  }
}

/* @media (prefers-color-scheme: dark) { */
/* 	html { */
/* 	  background-color: #262626; */
/* 	  color: #eae5e0; */
/* 	} */
/* } */

/* code { */
/*   font-size: 11pt; */
/*   font-weight: normal; */
/* } */

body {
  margin: auto;
  padding: 0 1em;
  max-width: 60ex;

  /* hyphens: auto; */
}

h1 {
  margin: 0;
}
#top {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

#top > *:not(:first-child) {
  margin-left: 1em;
}
#icon {
  height: 80px;
  width: 80px;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}


.anchor {
  font-size: 75%;
  color: black;
  opacity: 0.4;
  text-decoration: none;
}
